.parent{
    display: flex;
    width: 150%;
    padding: 1%;
    margin: 2%;
}
.parent>.card{
    width:30%;
    border: 2px solid blue;
    padding: auto;
    margin: 2%;
    text-align: center;
    
}
button {
    color: red;
    /* width: 50px; */
}
image{
    width: 200px;
    
}
/* mobile devices 320pxto 480px*/
/* tablet 481 to 768px */
/* min desktops 769 to 10324 */
/* large desktops 1025 to 1200 */
@media only screen and (min-width:320px) and (max-width:480px)
{
 .parent{
     display: flex;
     flex-direction: column;
 } 
 .parent>.card{
     width: 90%;
 }  
}
    
